<!doctype html>
<html>
<head>
    <title>Status Fetch</title>
    <script src="dist/js/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="dist/js/fetchData.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <style>
        body {
            padding-top:80px;
            background-color: #171d25;
        }
    </style>
</head>
<body>
</body>
</html>
